* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #80604E;
  font-family: "PT Serif", serif;
  color: black;
  font-size: 1rem; }
  body .padre-fluid {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.8fr 0.8fr 1.5fr 1.5fr 0.6fr;
    grid-template-areas: "header header" "nav  nav" "main aside" "main aside" "footer footer"; }
    @media only screen and (max-width: 480px) {
      body .padre-fluid {
        grid-template-columns: 1.5fr;
        grid-template-rows: 0.8fr, 0.8fr, 1.5fr,1fr, 0.6fr;
        grid-template-areas: "header" "nav" "main" "aside" "footer"; } }
    @media only screen and (max-width: 768px) {
      body .padre-fluid {
        grid-template-columns: 1.5fr;
        grid-template-rows: 0.8fr, 0.8fr, 1.5fr, 0.5fr,0.6fr;
        gap: 0.5;
        grid-template-areas: "header" "nav" "main" "main" "aside" "aside" "footer"; } }
  body .padrer-fluid {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.3fr 0.3fr 1.5fr 1fr 0.6fr;
    grid-template-areas: "header header" "nav nav" "main aside" "main aside" "footer footer"; }
    @media only screen and (max-width: 768px) {
      body .padrer-fluid .padrer-fluid {
        grid-template-columns: 1.5fr;
        grid-template-areas: "header" "nav" "main" "aside" "footer"; } }
    @media only screen and (max-width: 420px) {
      body .padrer-fluid .padrer-fluid {
        grid-template-areas: "header" "nav" "main" "aside" "footer"; } }

h1 {
  color: #FFC09C;
  font-family: "Playfair Display SC", serif;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  font-size: 5rem;
  font-weight: bold; }

h2 {
  color: #FFC09C;
  font-family: "Playfair Display SC", serif;
  text-align: center; }

h3 {
  text-decoration: underline; }

h3, h4 {
  color: #FFC09C;
  font-family: "Playfair Display SC", serif;
  font-size: 0.9rem; }

header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px; }
  header .tl {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    header .tl .logo {
      padding-right: 100px; }
      header .tl .logo img {
        width: 183px;
        border-radius: 50%;
        margin: 30px;
        padding: 1px 1px;
        transition: height 2s; }
        header .tl .logo img:hover {
          transform: scale(1.5, 1.5); }

nav {
  grid-area: nav;
  background-color: #CC9A7C;
  margin: auto 1px; }
  nav ul {
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    display: flex; }
    nav ul .nav-item {
      position: relative;
      font-size: 1rem;
      text-align: center; }
      nav ul .nav-item a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        border-radius: 0%;
        transition: border-radius 3s; }
        nav ul .nav-item a:hover {
          background-color: #FFC09C;
          color: #80604E;
          font-weight: bolder;
          border-radius: 50%; }

main {
  grid-area: main; }
  main .secciones .agrandar {
    margin-top: 10px; }
  main .imagenes {
    display: flex;
    width: 85%;
    height: 85vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 40px;
    margin-bottom: 5px;
    background-color: #80604E; }
    main .imagenes .imgx {
      flex: 0 0 100%;
      width: 100%;
      object-fit: cover;
      scroll-snap-align: center; }
  main .imagenes_i {
    display: flex;
    width: 70%;
    height: 70vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 40px;
    margin-bottom: 5px;
    background-color: #80604E; }
    main .imagenes_i .imgx {
      flex: 0 0 100%;
      width: 100%;
      object-fit: cover;
      scroll-snap-align: center; }
  main p {
    margin: 20px;
    font-size: 1.2rem; }
  main a {
    text-decoration: none;
    transition: all 1s;
    color: #CC9A7C; }
    main a:hover {
      color: #FFC09C; }
  main h3 {
    text-align: center; }
  main .instalaciones h2 {
    padding: 5px;
    margin: 2px; }
  main .ins {
    margin: 5px; }
    main .ins h3 {
      text-align: center;
      font-size: 1rem; }
  main .sfseccion {
    display: flex;
    flex-wrap: wrap; }
  main .card {
    margin: 15px;
    padding: 5px;
    background-color: #CC9A7C;
    text-align: center; }
  main .col-12 {
    text-align: center; }
    main .col-12 .btn {
      background-color: #CC9A7C;
      border: #CC9A7C; }
      main .col-12 .btn:hover {
        background-color: #FFC09C; }
  main .d-grid {
    text-align: center; }
    main .d-grid .btn {
      background-color: #CC9A7C;
      border: #CC9A7C; }
      main .d-grid .btn:hover {
        background-color: #FFC09C; }

aside {
  grid-area: aside;
  border-radius: 50px;
  padding: 15px;
  margin: 18px; }
  aside section {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin: auto; }
    aside section .atl {
      margin-top: 1px;
      margin-bottom: 30px;
      color: black;
      text-decoration: underline; }
    aside section .texta {
      background-color: #CC9A7C;
      border-radius: 10%;
      padding: 10px;
      line-height: 40px;
      font-weight: bolder; }
    aside section .alogo {
      text-align: center;
      margin: 30px 20px;
      padding: 25px 15px;
      padding-top: 100px;
      width: 10vw; }
      aside section .alogo img {
        width: 15vw;
        border-radius: 50%;
        background-color: #CC9A7C; }
  aside .contactanos {
    text-align: center;
    padding: 5px; }
    aside .contactanos section .aimg {
      padding: 5px; }
      aside .contactanos section .aimg img {
        width: 20%; }
  aside .alogo {
    text-align: center;
    margin: 30px 20px;
    padding: 25px 15px;
    padding-top: 100px;
    width: 10vw; }
    aside .alogo img {
      width: 15vw;
      border-radius: 50%;
      background-color: #CC9A7C; }

footer {
  grid-area: footer;
  background-color: #FFC09C;
  padding: 16px;
  display: flex;
  justify-content: space-between; }
  footer .logo {
    padding: 5px;
    font-weight: bold; }
    footer .logo img {
      width: 30px;
      padding-right: 5px; }
  footer .menu {
    list-style-type: none;
    text-align: center;
    padding: 5px; }
    footer .menu a {
      text-decoration: none;
      color: black;
      font-weight: bolder; }
  footer .map {
    padding: 15px; }
    footer .map iframe {
      width: 180px;
      height: 150px; }
  footer h3 {
    color: black; }

/*Estilos instalaciones*/
.aside .alogo {
  text-align: end; }
