aside{
    @mixin logoh {
        text-align: center;
            margin: 30px 20px;
            padding: 25px 15px;
            padding-top: 100px;
            width: 10vw;
    }
    @mixin img_logo {
             width: 15vw;
                border-radius: 50%;
                background-color: $rosa;
    }
    grid-area: aside;
    border-radius: 50px;
    padding: 15px;
    margin: 18px;
    section{
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        margin: auto;
        .atl{
            margin-top: 1px;
            margin-bottom: 30px;
            color: $color_letra;
            text-decoration: underline;
        }
        .texta{
            background-color: $rosa;
            border-radius: 10%;
            padding: 10px;
            line-height: 40px;
            font-weight: bolder;
        }
        .alogo{
            @include logoh();
            img{
                @include img_logo();
            }
        }
    }
    .contactanos{
        text-align: center;
        padding: 10px;
        section{
            .aimg{
                padding: 5px;
                a{
                    text-decoration: none;
                    color: $rosa;
                    &:hover{
                        color:$color_titulo ;
                    }
                }
                img{
                    width: 20%;
                }
            }
        }
        .telefono{
            color: $rosa;
        }
    }
    .alogo{
        @include logoh();
        img{
            @include img_logo();
        }
    }

}