main{
    @mixin btn {
        text-align: center;
    .btn{
        background-color: $rosa;
        border: $rosa;
        &:hover{
            background-color: $color_titulo;
        }
        
    }
    }
    grid-area: main;
    .pic{
        text-align: center;
        margin-bottom: 5px;

        img{
            width: 25%;
            height: 25%;
        }

    }
    .secciones{
        .agrandar{
            margin-top: 10px;
        }
    }

    .imagenes{
        display: flex;
        width: 90%;
        height: 90vh;
        margin-left: 15px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        background-color: $violeta;
     .imgx{
        flex: 0 0 100%;
        width: 75%;
        object-fit: cover;
        scroll-snap-align: center;
     }
    }
    .buffet{
        margin: 20px;
        text-align: center;
        img{
            width: 75%;
        }
    }
    p{
        margin: 20px;
        font-size: 1.2rem;
    }
    a{
        text-decoration: none;
        transition: all 1s;
        color: $rosa;
        &:hover{
            color: $color_titulo;
        }
    }
    h3{
        text-align: center;

    }
    .instalaciones{
        h2{
            padding: 5px;
            margin: 2px;
        }
    }
    .ins{
        h3{
            text-align: center;
            font-size: 1rem;
        }
        margin: 5px;
    }
.sfseccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 15px;
    padding: 5px;
    background-color:$rosa ;
    text-align: center;
    
}
.col-12{
    @include btn();
}
.d-grid{
    @include btn();
}

}