$violeta: #80604E;
$letra_texto: 'PT Serif', serif;
$letra_titulo: 'Playfair Display SC', serif;;
$color_titulo: #FFC09C;
$rosa: #CC9A7C;
$color_letra: black;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin headlines {
    color: $color_titulo;
    font-family: $letra_titulo;
}
@mixin grid {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.3fr 0.3fr 1.5fr 1.5fr 0.6fr;
    grid-template-areas:
      "header header"
      "nav  nav"
      "main aside"
      "main aside"
      "footer footer";
     }
    
@mixin medias1 {
    @media screen and (max-width: 768px) {
        grid-template-columns: 1.5fr ;
        grid-template-rows: 0.3fr 0.3fr 1.5fr  1fr  0.6fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
        .header{
            .tl{
                display: block;
                text-align: center;
                .logo{
                    text-align: center;
                    padding: 0%;
                }
            }
        }
        .footer{
            display:block;
            text-align: center;
            .map{
                margin-bottom: auto;
            }
        }
    }
    @media screen and (max-width:480px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat();
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";

        .header{
            .tl{
                display: block;
                text-align: center;
                .logo{
                    text-align: center;
                    padding: 0%;
                }
            }
        }
        .footer{
            display:block;
            text-align: center;
            .map{
                margin-bottom: auto;
            }
        }
    }
}

@mixin grids {

        display: grid;
          grid-template-columns: 1.5fr 0.5fr;
          grid-template-rows: 0.3fr 0.3fr 1.5fr 1fr 0.6fr;
          grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "main aside"
            "footer footer";
        }
@mixin medias2 {
    @media screen and (max-width: 768px) {
        grid-template-columns: 1.5fr ;
        grid-template-rows: 0.8fr 0.8fr 1.5fr  1fr  0.6fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
        .header{
            .tl{
                display: block;
                text-align: center;
                .logo{
                    text-align: center;
                    padding: 0%;
                }
            }
        }
        .footer{
            display:block;
            text-align: center;
            .map{
                margin-bottom: auto;
            }
        }
        
    }
    @media screen and(max-width:480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.3fr 0.3fr 0.3fr; 
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
        .header{
            .tl{
                display: block;
                text-align: center;
                .logo{
                    text-align: center;
                    padding: 0%;
                }
            }
        }
        
        .footer{
            display:block;
            text-align: center;
        }
    }
        
    }


body{
    background-color: $violeta;
    font-family: $letra_texto;
    color: $color_letra;
    font-size: 1rem;
    .padre-fluid{
        @include grid();
        @include medias1();
        
    }
    .padrer-fluid{
        @include grids();
        @include medias2()
        
    }
    }
    h1{
        @include headlines();
        padding: 10px;
        margin:10px auto;
        text-align: center;
        font-size: 5rem;
        font-weight: bold;
    }
    h2{
        @include headlines();
        text-align: center;
    }
    h3{
        text-decoration: underline;
    }
    h3, h4{
        @include headlines();
        font-size:0.9rem;  
     }


@import "header";
@import "nav";
@import "main";
@import "aside";
@import "footer";

/*Estilos instalaciones*/
.aside{
    .alogo{
        text-align: end;
    }
}

